<?xml version="1.0"?>
<!--
/**
 * Softnoesis
 * Copyright(C) 11/2023 Softnoesis <ideveloper1990@gmail.com>
 * @package Softnoesis_CustomerInfo
 * @copyright Copyright(C) 2015 Softnoesis (ideveloper1990@gmail.com)
 * @author Softnoesis <ideveloper1990@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <troosubcustomeraccount>
            <group>
                <enabled>1</enabled>  
            </group>
        </troosubcustomeraccount>
    </default>
</config>