<?xml version="1.0" ?>
<!--
/**
 * Softnoesis
 * Copyright(C) 11/2023 Softnoesis <ideveloper1990@gmail.com>
 * @package Softnoesis_CustomerInfo
 * @copyright Copyright(C) 2015 Softnoesis (ideveloper1990@gmail.com)
 * @author Softnoesis <ideveloper1990@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Softnoesis" sortOrder="999" translate="label">
			<label>Softnoesis</label>
		</tab>
		<section id="troosubcustomeraccount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Upload Document</label>
			<tab>Softnoesis</tab>
			<resource>Softnoesis_CustomerInfo::config_Softnoesis_customerinfo</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General Configurations</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
